.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100vh; 
  gap: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  width: 100%;
}

.char-box {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.square {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid black;
  background-color: white;
}

.keyboard-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 20px; 
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(10, minmax(40px, 1fr)); 
  gap: 10px;
  justify-content: center;
  width: 90%; 
  max-width: 800px; 
}

button {
  padding: 15px; 
  font-size: 18px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #eee;
  text-align: center;
  width: 100%;
  height: 60px;
  border-radius: 5px;
}

button:hover {
  background-color: #ddd;
  border-color: #f8a5c2;
}

.backspace, .enter {
  grid-column: span 2;
  background-color: #f8a5c2;
}
